body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url(images/11.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#mainNavbar .navbar-brand {
    color:rgb(125, 185, 235);
}

#mainNavbar {
    font-size: 1.2rem;
    font-weight: 100;
}

/* landing page style starts here */

.landing-page {
    background-color: black;
}

.landing-img {
    margin-top: 15%;
}

.landing-direction {
    margin-top: 10%;
}

.apply-btn {
    margin-top: 2%;
    margin-bottom: 10%;
    /* the shadow has to start with delay when the lamp is on */
    /* border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 10px 15px gray; */
}

.landing-p {
    color: white;
    font-size: 1.2rem;
    margin-top: 10%;
}

/* landing page style ends here */

/* home page style starts here */

.logo {
    margin: 0;
    padding: 0;
    width: 110px;
    height: 55px;
}

.menu {
    margin: 2%;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.menu-space {
    width: 68%;
}
