body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
}

#mainNavbar .navbar-brand {
    color:rgb(125, 185, 235);
}

#mainNavbar {
    font-size: 1.2rem;
    font-weight: 100;
}