
body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding-bottom: 3rem;
    z-index: -1;
    background-color: rgb(0, 0, 0);
}

p {
  color: aliceblue;
  font-size: 1.2rem;
}

h2 {
  color: aqua;
}

.nav-color {
  color: aliceblue;
}

#mainNavbar {
    font-size: 1.2rem;
    font-weight: 100;
}

/* landing page style starts here */

.landing-page {
    background-image: unset;
    background-color: black;
}

.landing-video {
    margin-top: 15%;
}


.landing-direction {
    margin-top: 10%;
}

.apply-btn {
    margin-top: 2%;
    margin-bottom: 10%;
}

.landing-p-qoute {
    color: white;
    font-size: 1.5rem;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 3px;
}

.landing-p-name {
    color: white;
    font-size: .8rem;
    text-transform: uppercase;
}

.landing-btn-label {
    color: white;
    font-size: 1rem;
    margin-top: 20%;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: capitalize;

}

/* landing page style ends here */

/* home page (index) style starts here =================== */

.logo {
    margin: 0;
    padding: 0;
    width: 110px;
    height: 55px;
}

.menu {
    margin: 2%;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.menu-space {
    width: 68%;
}

.toggle-style {
  background-color: gray;
}

.index-h2 {
    font-size: 2.2rem;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
    text-transform: uppercase;
    font-weight: 800;
}

.index-p {
  font-size: 1.1rem;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.home-video {
  margin-bottom: 8%;
  border: 2px solid rgb(80, 77, 77);
}

.boxes {
  display: none;
}


/* ========= Counter ============= */
.counter {
  /* margin-top: 5%; */
  /* background-image: url("../images/Other/slider-3.jpg"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
}
.counter-overlay {
  /* padding-top: 20%; */
  padding-bottom: 120px;
  /* background: rgba(0, 0, 0, .4); */
  background-image: url("../images/Other/slider-3.jpg");

}
.counter-item i {
  color: #129CF3;
  font-size: 60px;
}
.counter-item h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #D7DADB;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 35px;
  /* margin-top: 15px; */
  margin-bottom: 1px;
}
.counter-item p {
  color: #D7DADB;
  font-size: 20px;
  margin-top: 0px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
}

/* my counter ---------------------------- */

/* .counter-imgs {
  margin: 10% auto;
  background-color: orangered;
  /* background-image: url("../images/Other/slider-3.jpg"); 
}

.icon-box {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  margin: 20px auto;
  transform: rotate(45deg);
}

.icon-box .fa-ad {
  font-size: 40px;
  color: black;
  margin: 25px auto;
  transform: rotate(-45deg);
}

.counter-box p {
  font-size: 20px;
}

.counter-box .counter {
  font-size: 80px;
} /*




  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    /* background-color: #777; */
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  /* slider video 
   --------------------------------------------------- */

   #slider-video-1 {
    width: 100%;
    height: 100%;
    background-color: black;
  }

  #slider-video-2 {
    width: 100%;
    height: 100%;
    background-color: black;
  }

  #slider-video-3 {
    width: 100%;
    height: 100%;
    background-color: black;
  }


  /* rellax ============================== */

  .black-color {
    background:rgb(0, 0, 0);
  }

  .section-rellax {
    display: flex;
    width: 100%;
  }

  .svg-1, .svg-2, .svg-3, .svg-4, .svg-5, .svg-6, .svg-1-1, .svg-2-2, .svg-3-3, .svg-4-4, .index-p-qoute, .index-p-name {
    display: none;
  } 


  @media only screen and (min-width: 768px) {

      .svg-1 {
        position: absolute;
        width: 100%;
        display: flex;
      }
    
      .svg-2 {
        position: absolute;
        width: 100%;
        display: flex;
      }
      
      .svg-3 {
        position: absolute;
        width: 100%;
        display: flex;
      }
    
      .svg-4 {
        position: absolute;
        width: 100%;
        display: flex;
      }
    
    
      .p-section {
        display: flex;
        margin-top: 56%;
        position: absolute;
        background-color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: .5rem;
      }

      .index-p-qoute {
        display: block;
        padding: 5%;
        font-size: 1.7rem;
        font-weight: bolder;
        color: white;
      }

      .index-p-name {
        display: block;
      }
  
  }


    .index-bg-img {
      background-color: rgb(254, 254, 254);
      background-image: url(../images/Other/lighting-4.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
    }


    @media only screen and (max-width: 768px) {
      
      .svg-1-1 {
        position: absolute;
        width: 100%;
        display: flex;
      }
    
      .svg-2-2 {
        position: absolute;
        width: 100%;
        display: flex;
      }
      
      .svg-3-3 {
        position: absolute;
        width: 100%;
        display: flex;
      }
    
      .svg-4-4 {
        position: absolute;
        width: 100%;
        display: flex;
      }
      
      .p-section {
        display: flex;
        margin-top: 137%;
        position: absolute;
        background-color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: .5rem;
      }

      .index-p-qoute {
        display: block;
        font-size: 1.2rem;
        font-weight: bolder;
        color: white;
      }

      .index-p-name {
        display: block;
        font-size: 1rem;
      }
    }

    .index-offer {
      border: 2px solid rgb(250, 249, 249);
      border-radius: 20px;
      color: white;
      padding: 20px;
      margin: 5px;
    }

    .cont-parallax {
      /* max-width: 960; */
      width: 100%;
      margin: 0 auto;
      /* background-color: red; */
      font-size: medium;
      padding: 25px;
    }

    .parallax-window {
      min-height: 500px;
      background: transparent;
    }
    

    .index-img-4 {
      background-image: url(../images/Optimized-Upload-Models/Rowan/Optimized-Rowan-77.jpeg);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 70%;
      width: 100%;
      opacity: .6;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 8px;
    }

    .index-img-text {
      /* color: rgb(245, 247, 248); */
      font-weight: 900;
      text-align: center;
      padding-top: 230px;
      font-family: fantasy;
      font-size: 1.5rem;
      text-shadow: 2px 2px #f6f7f8;
      color: turquoise;
    }

    .lense {
      /* background-image: url(../images/Other/lense.jpg); */
      width: 100%;    
      /* background-position: 50% 70%; */
    }
  
  

    .index-about {
      color: white;
    }

    .drawing-construction {
      /* background-image: url(./images/Other/construction.jpeg); */
      background-color: darkslategray;
    }


    /* DRAWING section starts here ================== */
    .construction-img {
      width: 70%;
      height: 70%;
    }

    /* PHOTOGRAOHY SECTION STARTS HERE =================== */
    
    .pg-ed-video {
      border: 2px solid rgb(80, 77, 77);
    }
  
    .con-gallery {
      /* background-color: rgb(21, 59, 90); */
      border: 1px solid rgb(248, 139, 139);
      background-image: url(../images/Other/lighting-4.jpeg);
      border-radius: 10px;
    }
    
    .con-grid {
        border: 1px solid rgb(166, 173, 122);
        border-radius: 10px;
    }
    
    .gallery-title {
        justify-items: center;
        margin-top: 5%;
        padding: 5px;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 2rem;
        width: 350px;
        justify-self: center;
    }

    .steps-section {
      justify-items: center;
      padding: 5px;
      border: 1px solid white;
      border-radius: 5px;
      font-size: 2rem;
      width: 350px;
      justify-self: center;
    }

    .photog-img-4 {
      background-image: url(../images/Other/0M8A0110.jpeg);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 70%;
      width: 100%;
      opacity: .6;
      /* margin-top: 300px; */
    }



    /* =======test======== */

  .mmm2 {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/756/185/281/women-model-long-hair-brunette-wallpaper-preview.jpg);
    /* Tweak the percentages to suit you. The first value is horizontal (X) and the second value is vertical (Y). */
    background-position: 50% 70%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

/* Booking section starts here ================= */

  /* this is for big screen  */
  @media only screen and (min-width: 665px) {
  .main-form {
    padding: 70px 100px;
    width: 650px;
    margin: auto;
    border-radius: 10px;
  }

  .form-style {
    margin-top: 3%;
    background-color: white;
  }

  .test-page {
    background-image: url(../images/Other/lighting-4.jpeg);
  }


  .form-comnt {
    height: 200px;
    width: 100%;
  }


  .submit-form {
    width: 200px;
  }

}

  /* this is for Small screen  */
  @media only screen and (max-width: 665px) {
    .main-form {
      padding: 30px;
      margin: auto;
      border-radius: 10px;
    }
  
    .form-style {
      background-color: white;
    }
  
    .test-page {
      background-image: url(../images/Other/lighting-4.jpeg);
    }
  
  
    .form-comnt {
      height: 200px;
      width: 100%;
    }
  
  
    .submit-form {
      width: 200px;
    }
  
  }

    /* About section style here*/

    .about-row {
      border: 2px solid white;
      border-radius: 7px;
    }

